<main role="main" class="main-banner" id="home-banner">

  <div class="jumbotron" bis_skin_checked="1">
    <div class="container" bis_skin_checked="1">
      <h1 class="display-3">Search for your new home today...</h1>
      <p>Choose from hundreds of beautiful bungalows, apartments and condominiums.</p>
      <p><a class="btn btn-success" href="https://google.com" role="button" target="_blank">Learn more »</a></p>
    </div>
  </div>

  <section id="latest-properties" class="mb-5">
    <div class="container" bis_skin_checked="1">
      <h3 class="mb-3">Latest Properties</h3>
      <div class="row" bis_skin_checked="1">
        <%= render "properties/list", properties: @properties %>
      </div>
    </div>
  </section>

  <section id="latest-posts" class="mb-5">
    <div class="container" bis_skin_checked="1">
      <h3 class="mb-3">Latest News</h3>
      <div class="row" bis_skin_checked="1">
        <%# <%= render "posts/list", posts: @posts %> %>
      </div>
    </div>
  </section>

</main>